---
layout: default
---


<section class="post">
  <div class="flex-row-between">
    <a href="{{ site.url }}{{ site.baseurl }}/">« back</a>
    <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
      <div></div>
    </button>
  </div>
  <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }} - {{ page.minute}}' reading</time>
  <h1 class="title">{{ page.title }}</h1>
  <span class="meta">
    {% for tag in page.tags %}
    <a href="{{ site.url }}{{ site.baseurl }}/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
  {{ content }}
</section>

<section>

  <nav class="post-nav">
    {% if page.previous %}
    <a class="post-nav-item post-nav-prev" href="{{ page.previous | relative_url }}">
      <div class="nav-arrow">Previous</div>
      <span class="post-title">{{ page.previous.title }}</span>
    </a>
    {% endif %} {% if page.next %}
    <a class="post-nav-item post-nav-next" href="{{ page.next | relative_url }}">
      <div class="nav-arrow">Next</div>
      <span class="post-title">{{ page.next.title }}</span>
    </a>
    {% endif %}

  </nav>
</section>



<footer>
  
  
  {% if site.markdown == "highlightjs" %}

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.6.0/dist/highlightjs-line-numbers.min.js"></script>
  <!-- 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/haskell.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/smali.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/dockerfile.min.js"></script>
   -->
  
  <!-- 
  <script>hljs.highlightAll();</script>
 -->
  {% elsif site.markdown == "prismjs" %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js" integrity="sha512-axJX7DJduStuBB8ePC8ryGzacZPr3rdLaIDZitiEgWWk2gsXxEFlm4UW0iNzj2h3wp5mOylgHAzBzM4nRSvTZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-xCfKr8zIONbip3Q1XG/u5x40hoJ0/DtP1bxyMEi0GWzUFoUffE+Dfw1Br8j55RRt9qG7bGKsh+4tSb1CvFHPSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" type="text/css" href="//{{ site.url }}{{ site.baseurl }}/assets/cdn/prismjs/theme.css">

  {% endif %}



</footer>
